###################################################
# Configuration locale pour Collections spéciales #
###################################################

# Les propriétés définies ici ont priorité sur celles définies
# dans les autres fichiers de configuration (dspace.cfg, modules/*.cfg, ...).
# Toutefois, les variables d'environnement ont priorités sur ce fichier.
# Voir config-definition.xml pour plus de détails.

# Dans le fichier local.cfg, on doit définir UNIQUEMENT LES PROPRIÉTÉS
# QUI ONT LA MÊME VALEUR POUR TOUTES LES INSTANCES DE COLLECTION SPÉCIALES.
# Ce sont donc des propriétés qui sont liées au fonctionnement de l'application
# et non son environnement d'excutation.

# Par exemple, on va mettre ici des propriétés de configuration du "browsing"
# mais pas celles liées à l'accès à la base de donnée (URL de connexion,
# usager et mot de passe, etc.)

# Les propriétés spécifiques à l'environnement d'exécution seront définies
# dans des fichiers local.local.cfg qui est inclus dans le fichier pom.xml
# accessible dans la section de configuration du dossier : dspace-server-webapp

# Les propriétés définies dans local.local.cfg ont priorités sur celles
# définies ci-dessous, si jamais elles sont le même nom. Donc le fichier
# local.local.cfg pourrait aussi servir à redéféfinir localement des 
# propriétés liées au fonctionnement, mais cette pratique devrait être
# réservée à des fins de test.

# Tous nos changements aux propriétés de configuration doivent être dans
# local.cfg ou dans local.local.cfg (ou en variable d'environnement). 
# JAMAIS dans dspace.cfg, modules/*.cfg, etc. Ces fichiers doivent toujours
# être conformes à la dernière version de Dspace.

include = local.local.cfg

##########################
# Nom et langues du site #
##########################

# Nom du site
# Voir l'impact réel et déterminer le bon nom et s'il doit être local
dspace.name = Collections spéciales

# Default language for metadata values
default.language = fr
default.locale = fr
webui.supported.locales = fr, en

##########
# Browse #
##########

# Voir la section "Browse Configuration" dans dspace.cfg
# Configuration du browse
webui.browse.index.1 = title:item:title
webui.browse.index.2 = dateissued:item:dateissued
webui.browse.index.3 = subject:metadata:dc.subject.*\,dcterms.subject:text
webui.browse.index.4 = author:metadata:dc.creator:text
webui.browse.index.5 = type:metadata:dc.type:text
webui.browse.index.6 = contributor:metadata:dc.contributor.*:text
webui.browse.index.7 = publisher:metadata:dc.publisher:text
webui.browse.index.8 = language:metadata:dcterms.language:text
#webui.browse.index.9 = datecreated:metadata:dcterms.created:date
#webui.browse.index.10 = location:metadata:dc.coverage.spatial:text


# On retirer le browse du vaocabulaire SRSC, livré par défaut avec DSpace
webui.browse.vocabularies.disabled = srsc


# Paramètres personnalisés pour l'extracteur de texte
textextractor.max-chars = -1
textextractor.use-temp-file = true
textextractor.max-array = 100000000


############################
# Registre des métadonnées #
############################
registry.metadata.load = collspec-types.xml

########
# IIIF #
########

iiif.enabled = true
event.dispatcher.default.consumers = versioning, discovery, eperson, qaeventsdelete, ldnmessage, iiif
##Juste en production
#iiif.image.server = https://cantaloupe.bib.umontreal.ca/iiif/2/

# Pour la recherche dans les documents avec OCR, ajuster
# dans local.local.cfg si ce n'est pas le core "ocr"
iiif.search.url = ${solr.server}/${solr.multicorePrefix}ocr
iiif.search.plugin = org.dspace.app.iiif.service.CollSpecWordHighlightSolrSearch

# Pour ajouter des rendering depuis un bundle spécifique et pour pointer sur l'item
iiif.rendering.bundle = RENDERING
iiif.rendering.item = Notice complète

# URL for logo. A small image that represents an individual or organization associated with the
# resource. It is added to the IIIF manifest.
iiif.logo.image = ${dspace.ui.url}/assets/collspec/images/logo-bib.png

# iiif v3
# iiif.image.server.v3 = http://localhost:8182/iiif/3/

# Ajouter la direction dans manifest en v3. Option possibles:  left-to-right, right-to-left, top-to-bottom, bottom-to-top, TOP_TO_BOTTOM
# iiif.v3.document.viewing.direction =  left-to-right

# modules/iiif.cfg
# Métadonnées à inclure au niveau de la ressource dans le manifeste
# Les libellés sont définis dans le fichier d’internationalisation Messages.properties

iiif.metadata.item = dc.title
iiif.metadata.item = dc.title.alternative
iiif.metadata.item = dcterms.title
iiif.metadata.item = dcterms.alternative
iiif.metadata.item = dc.identifier.uri
iiif.metadata.item = dc.contributor.*
iiif.metadata.item = dc.creator
iiif.metadata.item = dc.publisher
iiif.metadata.item = dc.date.issued
iiif.metadata.item = dcterms.created
iiif.metadata.item = dcterms.issued
iiif.metadata.item = dc.type
iiif.metadata.item = dc.subject
iiif.metadata.item = dcterms.subject
iiif.metadata.item = dc.description.abstract
iiif.metadata.item = dcterms.abstract
iiif.metadata.item = dc.description
iiif.metadata.item = dc.format.extent
iiif.metadata.item = dc.identifier
iiif.metadata.item = dc.coverage
iiif.metadata.item = dcterms.isPartOf
iiif.metadata.item = dc.rights
iiif.metadata.item = dc.language.iso
iiif.metadata.item = dc.language
iiif.metadata.item = dcterms.language
iiif.metadata.item = dc.relation
iiif.metadata.item = dc.source
iiif.metadata.item = dcterms.spatial
iiif.metadata.item = dcterms.temporal
iiif.metadata.item = dcterms.identifier
iiif.metadata.item = dcterms.replaces
iiif.metadata.item = collspec.mono.extent
iiif.metadata.item = collspec.mono.edition
iiif.metadata.item = collspec.mono.spatial
iiif.metadata.item = collspec.mono.collection
iiif.metadata.item = collspec.mono.desc
iiif.metadata.item = collspec.mono.descdbl
iiif.metadata.item = collspec.aff.type
iiif.metadata.item = collspec.aff.extent
iiif.metadata.item = collspec.aff.alternative
iiif.metadata.item = collspec.aff.desc
iiif.metadata.item = collspec.aff.subject
iiif.metadata.item = collspec.diame.geo
iiif.metadata.item = collspec.diame.desc
iiif.metadata.item = collspec.diame.contributor
iiif.metadata.item = collspec.diame.subcoll
iiif.metadata.item = collspec.diame.view
iiif.metadata.item = collspec.diame.grant
iiif.metadata.item = collspec.gravu.alternative
iiif.metadata.item = collspec.gravu.desc
iiif.metadata.item = collspec.gravu.inscription
iiif.metadata.item = collspec.gravu.subject
iiif.metadata.item = collspec.gravu.audience
iiif.metadata.item = collspec.gravu.extent
iiif.metadata.item = collspec.gravu.technique
iiif.metadata.item = collspec.gravu.spatial
iiif.metadata.item = collspec.gravu.ensemble	
iiif.metadata.item = collspec.gravu.sequence
iiif.metadata.item = collspec.gravu.position
iiif.metadata.item = collspec.gravu.comment
iiif.metadata.item = collspec.gravu.notes
iiif.metadata.item = collspec.per.alter
iiif.metadata.item = collspec.per.desc
iiif.metadata.item = collspec.per.freq
iiif.metadata.item = collspec.per.issn
iiif.metadata.item = collspec.per.partic
iiif.metadata.item = collspec.per.spatial
iiif.metadata.item = collspec.community.uuid
iiif.metadata.item = collspec.collection.uuid
iiif.metadata.item = collspec.fileid


##### Paramètres pour la création des vignettes #####

# Largeur et hauteur maximales (en pixels) des vignettes générées
# REMARQUE : dans le thème de base de l’interface utilisateur, --ds-thumbnail-max-width est défini par défaut à 175px.
# Donc, si vous définissez thumbnail.maxwidth à une valeur > 175, vous devriez également modifier cette variable de style dans l’interface utilisateur
thumbnail.maxwidth  = 175
thumbnail.maxheight = 150

# the metadata to use to provide machine readable information about the resource right usage
iiif.license.uri = dc.rights.uri

# Pour ajouter des seeAlso à un item depuis un bundle spécifique
iiif.seealso.bundle = SEEALSO

# Pour ajouter du contenu OCR aux images
iiif.ocr.bundle = OCR
iiif.ocr.seealso.label = Contenu OCR
iiif.ocr.seealso.profile = http://www.loc.gov/standards/alto/v3/alto.xsd

# Pour ajouter des transcriptions aux images
iiif.transcriptions.bundle = TRANSCRIPTIONS
iiif.transcriptions.label = Transcriptions


########
# Configuration des uploads #
########
# Taille max d'un fichier unique "-1" pour illimité
spring.servlet.multipart.max-file-size = -1
# Taille max pour une requête (multi-fichiers)
spring.servlet.multipart.max-request-size = -1


##############################################
# Activation du stockage S3 dans DSpace 9.2  #
#####################################
# Région AWS
assetstore.s3.awsRegionName = ca-central-1

## corrections pour solr: search objects
discovery.highlights.escape-html = false


# Autoriser les origines spécifiques (client et middleware API)
#rest.cors.allowed-origins = http://localhost:3100, ${dspace.ui.url}

# ---------------------------------------------------------------
# Google Analytics 4 (GA4)
# ---------------------------------------------------------------

# Activer Google Analytics (OBLIGATOIRE)
google.analytics.key = G-V8J6YFFD4F

# Nombre max d’événements en buffer
google.analytics.buffer.limit = 256

# Cron pour envoyer les événements backend (téléchargements)
# Toutes les 5 minutes
google.analytics.cron = 0 0/5 * * * ?

# Bundles suivis pour les bitstreams
google-analytics.bundles = ORIGINAL






